@using TravelTripProject.Models.Sınıflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:60px" >Tatil & Seyehat Bloğum</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <a href="https://www.tripadvisor.com.tr/Restaurants-g297962-Antalya_Turkish_Mediterranean_Coast.html">Restoranlar</a>
                               
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">

                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <a href="https://www.turkishairlines.com/tr-int/">Uçuşlar</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                             
                                <a href="https://blog.turkishairlines.com/tr/antalyada-yapilacak-10-sey/">Yapılacak Şeyler</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <a href="https://www.bilet.com/arac-kiralama?msclkid=a0caac2c85a01c3e3773c85be4b30d4f">Araç Kiralama</a>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:550px;height:350px">
                           
                            <ul class="rslides" id="slider1">

                                @foreach (var x in Model)
                                {

                                    <li><img src="@x.BlogImage" style="width:550px; height:350px;" alt=""></li>
                                    @*<li><img src="~/web/images/img2.jpg" alt=""></li>
            <li><img src="~/web/images/img3.jpg" alt=""></li>
            <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                                </ul>
                           
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyehat Bloğuma Hoş Geldiniz!</h3>
                    <p>Bu projeyi, Doğuş Üniversitesi Bilgisayar Programcılığı Bitirme Projesi için Proje danışmanım "Sakın Can"  Hocamıza sunmak için yaptım. MVC5 üzerine kurulu bu proje dinamik yapıdadır projemde Layout, Partial View gibi konularada yer verilmiştir. Uzun vadede kullanılabilecek kişisel bir Seyehat-Tatil Blog sitesi olabileceği kanısındayım.Herkeze keyifli okumalar... </p>
                </div>
              @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3", "Default")
                        @Html.Action("Partial4", "Default")

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


